
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}
.bg{
    background-image: url('images/bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
   
}

.navbar{
    background-color:#7d281e;
}
.nav-item .nav-link,.navbar-brand{
    color: #fff;
}
.nav-item .nav-link:hover{
    color:#000;
}
.part-end{
    display: flex;
    justify-content: end;
    align-items: center;
}
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #fff;
}
.form-control{
    width: 300px;
}
.search{
    position: relative;
}
.fa-search{
    position: absolute;
    top: 30px;
    right: 50px;
    color: #fff;
    font-size: 50px;
}
.fa-search::before{
    font-size: 20px;
}
.form-control::placeholder{
    color: #fff;
}
.text-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.text-middle span{
    font-family: 'Dancing Script', cursive;
    color: #7d281e;
}
.text-middle h1{
    font-size: 60px;
}
.text-middle h5{
    color: #7d281e;
}
.text-middle .fa{
    padding: 15px;
}
.text-middle h6{
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
}
.buttons .btn1{
    background-color: #7d281e;
    border: 1px solid #7d281e;
    width: 150px;
    padding: 10px;
    margin: 20px;
}
.buttons .btn2{
    border: 1px solid #7d281e;
    width: 150px;
    padding: 10px;
    background-color: transparent;
}
.buttons .btn1:hover{
    background-color: transparent;
    color: #fff;
}
.buttons .btn2:hover{
    background-color: #7d281e;
    color: #fff;
}
                                    /* CATEGORIES */
.principale img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.principale h1{
    color: #7d281e;
    margin-bottom: 20px;
}
.principale{
    margin-top: 100px;
    /* padding: 40px; */
}
.principale .card2{
    margin: 10px;
}
.test img{
    padding: 15px;
}
.roman{
    position: relative;
}
.roman h1{
    position: absolute;
    bottom: 80px;
    left: 50px;
}
.type p{
    position: absolute;
    color: #fff;
    bottom: 30px;
    left: 50px;
}
.roman h1{
    font-size: 24px;
}
                                    /* ACHATS */
.achats h1{
    color: #7d281e;
    margin-top: 20px;
    margin-bottom: 20px;
}
.achats img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.card{
   /* margin: 10px; */
    position: relative;
    
}
.fa-heart-o{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
}
.btn-achat{
   background-color: #7d281e;
   margin-top: 10px;
   width: 150px;
} 
.btn-achat:hover{
    background-color: #F33A6A;
   
 } 
                                        /* CONNEXION */
.connexion{ 
    background-image: url('images/bg.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #7d281e;
    max-width: 500px;
    margin-top: 150px;
    padding: 50px;
}
.connexion h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
input{
    width: 100%;
    outline: none;
    padding: 10px;
}
input::placeholder{
    color: #fff;
}
#submit{
    background: linear-gradient(to right, #7d281e,white);
    padding: 10px;
    margin-top: 20px;
}
#create{
    border: 1px solid #7d281e;
    width: 200px;
    padding: 10px;
}
.input{
    position: relative;
}
.fa-user-o{
    position: absolute;
    top: 15px;
    right: 10px;
}
.input2{
    position: relative;
}
.fa-lock{
    position: absolute;
    top: 15px;
    right: 10px;
}
                                        /* INSCRIPTION */
.google-input{
    position: relative;
}
.fa-google{
    position: absolute;
    left: 10px;
    top: 8px;
}
.fa{
    font-size: 25px;
}
.facebook-input{
    position: relative;
}
.fa-facebook{
    position: absolute;
    left: 10px;
    top: 8px;
}
.apple-input{
    position: relative;
}
.fa-apple{
    position: absolute;
    left: 10px;
    top: 8px;
}
.insta-input{
    position: relative;
}

.fa-instagram{
    position: absolute;
    left: 10px;
    top: 8px;
}
form h4{
    font-size: 16px;
}
.inscription{
    color: #7d281e;
    max-width: 500px;
}
.inscription h1{
    color: #7d281e;
}
.form::placeholder{
    color:#000;
}
#submit2{
    background-color: #7d281e;
    width: 150px;
    margin-top: 50px;
}
.user{
    position: relative;
}
.fa-user{
    position: absolute;
    top: 30px;
    right: 30px;
}
.mail{
    position: relative;
}
.fa-envelope-o{
    position: absolute;
    top: 45px;
    right: 30px;
}
.user-circle{
    position: relative;
}
.fa-user-circle-o{
    position: absolute;
    top: 50px;
    right: 30px;
}
.mdp, .mdp2{
    position: relative;
}
.fa-key{
    position: absolute;
    top: 50px;
    right: 30px;
}
                                        /* TESTIMONY */
.testimony{
    background-color: #f8f9fa;
    padding: 50px;
}
.testimony h1{
    color: #7d281e;
    font-size: 40px;
    margin-bottom: 25px;
}
.carte{
    position: relative;
    
}
.img img{
    position: absolute;
    top: 30px;
    left: -70px;
    width: 100px;
}

.pic img{
    position: relative;
    height: 900px;
    object-fit: cover;
}
                                    /* SOCIAL */
.social{
    background-color: #f8f9fa;
    padding: 50px;
}
.social h1{
    color: #7d281e;
    margin-bottom: 30px;
}
.social img{
    width: 80px;
    transition: 0.65s;
}
.social img:hover{
    transform: translateY(-10px);
}
                                        /* contact */
.contact{
    margin-top: 100px;
   
}
.contact1{
    background-color: #fff;
   
  
}
.contact h1{
    color: #7d281e;
    font-size: 22px;
    margin-top: 15px;
}
.form input{
    padding: 15px;
    margin-bottom: 10px;
    outline: none;
    width: 100%;
}
.form input::placeholder{
    color: #7d281e;
}
#contact-submit{
    width: 150px;
    background-color: #7d281e;
    color: #fff;
    border: none;
}
.picture img{
    object-fit: cover;
    height: 100%;
}
.picture{
    position: relative;
}
.picture p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}
#message{
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
}
#message::placeholder{
    color: #7d281e;
}
#submit3{
    background-color: #7d281e;
    width: 150px;
    border: 1px solid #7d281e;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.text-area textarea::placeholder{
    color: #7d281e;
}
.infos-contact{
    margin-top: 50px;
}
.icon{
    background-color: #7d281e;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.icon .fa{
    color: #fff;
}
                                                /* FOOTER */
#footer{
    background-color: #7d281e;
    
}
#footer h1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-bottom: 30px;
}
.footer-box .form-control::placeholder{
    color: #fff;
}
.btn-subscribe{
    color: #7d281e;
    margin-top: 30px;
}