
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}
.bg{
    background-image: url('images/bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 700px;
    position: relative;
    background-attachment: fixed;
   
}
.navbar{
    background-color: rgba(255, 255, 255, 0.8);
   
}
.nav-item .nav-link,.navbar-brand{
    color: #fff;
}
.nav-item .nav-link:hover{
    color: #fab1a0;
}
.part-end{
    display: flex;
    justify-content: end;
    align-items: center;
}
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #7d281e;
}
.form-control{
    width: 400px;
    background-color: transparent;
    border: 1px solid #fff;
   
}
.search{
    position: relative;
}
.fa-search{
    position: absolute;
    top: 30px;
    right: 50px;
    color: #7d281e;
}
.form-control::placeholder{
    color: #7d281e;
}
.text-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.text-middle span{
    font-family: 'Dancing Script', cursive;
    color: #7d281e;
}
.text-middle h1{
    font-size: 60px;
}
.text-middle h5{
    color: #7d281e;
}
.text-middle .fa{
    padding: 15px;
}
.text-middle h6{
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
}
.buttons .btn1{
    background-color: #7d281e;
    color: #fff;
    border: 1px solid #7d281e;
    width: 150px;
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
}
.buttons .btn2{
    background-color: transparent;
    color: #fff;
    border: 1px solid #7d281e;
    width: 150px;
    padding: 10px;
    border-radius: 50px;
}
.buttons .btn1:hover{
    background-color: transparent;
    color: #fff;
}
.buttons .btn2:hover{
    background-color: #7d281e;
    color: #fff;
}
/* premiére section */
.one h1{
    color: #fab1a0;
    margin-top: 20px;
    margin-bottom:20px ;
}
.card-body h1{
    font-size: 24px;
}
.btn-card{
    background-color: #fab1a0;
    color: #fff;
    width: 100%;
}
/* CATEGORIES */
.categories img{
    width: 400px;
    height: 581px;
    object-fit: cover;
}
.categories h1{
    color: #7d281e;
    margin-top: 20px;
}
.test img{
    padding: 15px;
}
.roman{
    position: relative;
}
.roman h1{
    position: absolute;
    color: #fff;
    bottom: 80px;
    left: 50px;
}
.type p{
    position: absolute;
    color: #fff;
    bottom: 30px;
    left: 50px;
}
.roman h1{
    font-size: 24px;
    font-family: 'Dancing Script', cursive;

}
/* ACHATS */
.achats h1{
    color: #7d281e;
    margin-top: 20px;
}
.card1 img{
    width: 364px;
    height: 366.61px;
    object-fit: cover;
   
}
.card1{
    margin: 20px;
    box-shadow:5px 5px 3px gray ;
    position: relative;
}
.fa-heart-o{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 5px;
    background-color: #fff;
}


.btn-achat{
   background-color: #7d281e;
   color: #fff;
   margin-top: 10px;
   width: 150px;
   box-shadow: 5px 5px 3px gray;
}
.contemplations{}
/* PRODUITS */
.produit{
    margin-top: 100px;
    padding: 40px;
}
.produit h1{
    color: #7d281e;
}
.produit img{
    width: 400px;
    height: 581px;
    object-fit: cover;
    box-shadow: 5px 5px 5px gray;
}
.produit .card2{
    margin: 10px;
}
.price p{
    font-size: 14px;
}
.progress-bar{
    background-color: navy;
}
.price span{
    color: red;
}
.price .span {
    color:gray;
}
/* CONNEXION */
.connexion{
    /* background-color: #fab1a0; */
    background-image: url('images/bg.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #7d281e;
    width: 500px;
    margin-top: 50px;
    padding: 50px;
    /* background-color: #f8f9fa; */
}
.connection{
    /* background-color: #f8f9fa; */
}
.connexion h1{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
input{
    width: 400px;
    border: none;
    border-bottom: 1px solid #fff ;
    background-color: transparent;
    outline: none;
    padding: 10px;
}
input::placeholder{
    color: #fff;
}
#submit{
    border: none;
    background: linear-gradient(to right, #7d281e,white);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px gray ;
    margin-top: 20px;
}
#create{
    border: 1px solid #7d281e;
    color: #fff;
    width: 200px;
    padding: 10px;
}
.input{
    position: relative;
}
.fa-user-o{
    position: absolute;
    top: 15px;
    right: 10px;
}
.input2{
    position: relative;
}
.fa-lock{
    position: absolute;
    top: 15px;
    right: 10px;
}
/* INSCRIPTION */
.inscription input{
    border: 1px solid;
}
.google-input{
    position: relative;
}
.google-input input{
    border: 1px solid gray;
}
.fa-google{
    position: absolute;
    left: 10px;
    top: 8px;
}
.fa{
    font-size: 25px;
}
.facebook-input{
    position: relative;
}
.facebook-input input{
    border: 1px solid gray;
}
.fa-facebook{
    position: absolute;
    left: 10px;
    top: 8px;
}
.apple-input{
    position: relative;
}
.apple-input input{
    border: 1px solid gray;
}
.fa-apple{
    position: absolute;
    left: 10px;
    top: 8px;
}
.insta-input{
    position: relative;
}
.insta-input input{
    border: 1px solid gray;
}
.fa-instagram{
    position: absolute;
    left: 10px;
    top: 8px;

}
.trait1,.trait2{
    background-color: #fab1a0;
    height: 3px;
    margin: 10px;
    width: 190px;
}
form h4{
    font-size: 16px;
}
form .form-control{
    border: 1px solid gray;
}
.inscription{
    color: #7d281e;
}
.inscription h1{
    color: #7d281e;
}
.inscription h2{
    color: #000;
    font-size: 18px;
}
.form::placeholder{
    color:#000;
}
#submit2{
    background-color: #7d281e;
    color: #fff;
    border: none;
    width: 150px;
    margin-top: 50px;
}
.user{
    position: relative;
}
.fa-user{
    position: absolute;
    top: 30px;
    right: 30px;
}
.mail{
    position: relative;
}
.fa-envelope-o{
    position: absolute;
    top: 45px;
    right: 30px;
}
.user-circle{
    position: relative;
}
.fa-user-circle-o{
    position: absolute;
    top: 50px;
    right: 30px;
   
}
.mdp, .mdp2{
    position: relative;
}
.fa-key{
    position: absolute;
    top: 50px;
    right: 30px;
}
/* TESTIMONY */
.testimony{
    background-color: #f8f9fa;
}
.card{
    background-color: #fff;
    margin: 25px;
    position: relative;
    /* padding: 30px; */
    box-shadow: 5px 5px 5px gray;
    border-bottom: 3px solid #7d281e;
    transition: 0.65s;
    
}
.card1:hover{
    transform: translateY(-10px);
}
.testimony h1{
    color: #7d281e;
    margin-top: 20px;
}
.testimony h5{
    color: #7d281e;
}
.img{
    position: absolute;
    top: 50px;
    left: -50px;
}
.img img{
    width: 80px;
}
.media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.instagram, .facebook, .twitter{
    position: static;
    color: #7d281e;
}
/* SOCIAL */
.social{
    background-color: #f8f9fa;
}
.social h1{
    color: #7d281e;
}
.social img{
    width: 80px;
    transition: 0.65s;
}
.social img:hover{
    transform: translateY(-10px);
}
/* contact */
.contact{
    margin-top: 100px;
    background-color: #fff;
    /* width: 1000px; */
    /* border: 1px solid #fff; */
}
.contact h1{
    color: #7d281e;
    font-size: 22px;
    margin-top: 15px;
}
.contact input{
    border: none;
    border-bottom: 1px solid;
    padding: 30px;
    width: 100%;
}
.contact input::placeholder{
    color: #7d281e;
}
.map img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.map{
    position: relative;
}
.map p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 20px;
}

#message{
    border: none;
    border-bottom: 1px solid ;
    width: 100%;
    padding: 30px;
   
}
#submit3{
    background-color: #7d281e;
    color: #fff;
    width: 150px;
    border: 1px solid #7d281e;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.text-area textarea::placeholder{
    color: #7d281e;
}
.infos-contact{
    margin-top: 50px;
}
.icon{
    background-color: #7d281e;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.icon .fa{
    color: #fff;
}
/* FOOTER */
#footer{
    background-color: #7d281e;
    color: #fff;
}
#footer h1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-bottom: 30px;
}
.footer-img{
    width: 100%;
}
.footer-box .form-control::placeholder{
    color: #fff;
}
.btn-subscribe{
    background-color: #fff ;
    color: #7d281e;
    margin-top: 30px;
}